.btn{
    width: fit-content;
    font-weight: bold;
    color: wheat;
    background: #54c28b;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}